@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "iranSanaEOT";
  src: url("./fonts/IRANSansWeb\(FaNum\).eot");
}

@font-face {
  font-family: "iranSansWOFF";
  src: url("./fonts/IRANSansWeb\(FaNum\).woff");
}

@font-face {
  font-family: "irenSansWOFF2";
  src: url("./fonts/IRANSansWeb\(FaNum\).woff2");
}

body {
  font-family: 'iranSanaEOT', 'iranSansWOFF', 'irenSansWOFF2' !important;
  direction: rtl;
}

.custom-bg{
  background-color: rgba(0, 0, 0, 0.727);
}