@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "iranSanaEOT";
  src: url("./fonts/IRANSansWeb\(FaNum\).eot");
}

@font-face {
  font-family: "iranSansWOFF";
  src: url("./fonts/IRANSansWeb\(FaNum\).woff");
}

@font-face {
  font-family: "irenSansWOFF2";
  src: url("./fonts/IRANSansWeb\(FaNum\).woff2");
}

body {
  font-family: 'iranSanaEOT', 'iranSansWOFF', 'irenSansWOFF2' !important;
  direction: rtl;
}

.custom-bg {
  background-color: rgba(0, 0, 0, 0.727);
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 20% !important;
  background-color: aliceblue !important;
  color: rgb(255, 0, 111) !important;
  font-size: 5px !important;
}

.swiper-slide {
  width: 180.4px !important;
}

.swiper-wrapper {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.swiper-button-next::after {
  font-size: 30px !important;
  padding: 18px;
  font-weight: 800;
  margin: -80px !important;
}

.swiper-button-prev::after {
  font-size: 30px !important;
  padding: 18px;
  font-weight: 800;
  margin: -80px !important;
}

.swiper-slide {
  padding: 15px;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
}



.contant {
  max-height: 0;
  overflow: hidden;
  transition: all .2s cubic-bezier(1, 0, 1, 0);
}

.contant.show {
  height: auto;
  max-height: 9999px;
}

.display-fit {
  display: inline-grid;
  grid-auto-flow: column;
  
}